  h1 {
    text-align: center;
    color: #ff1111;
  }
  
  body {
    background-color: #fff5f5;
  }

  code {
    background-color: #ffffcc;
    display: flex;
    justify-content: space-around;
    font-size: inherit;
    font-style: italic;
  }
  
  .formulas {
    font-style: italic;
    font-size: inherit;
  }

  #diagram1 {
    width: 100%;
  }

  .image-cont1 {
    margin-left: 5%;
    width: 90%;
  }
  
  .examples {
    background-color: #f0f0ff;
  }
  
 .solution {
    background-color: #fff1ff;
  }
  
  .solution1b, .solution2b, .solution2a {
    display: flex;
    margin: auto;
  }
  
  .examples .title {
    background-color: #ffccff;
  }
  
  .answer {
    width: 90%;
  }
  
 .navigation_links {
    font-size: 25px;
    font-weight: bold;
  }

  .menu nav {
    display: flex;
    justify-content: space-around;
  }
  
  .menu nav button {
    background-color: #ccccff;
  }
  
  .menu {
    display: none;
  }